body {
    margin:0;
    padding:0;
    color:#333;
}

/* ヘッダー */
header {
    width:100%;
    height:70px;
    background:#333;
}

#header-title {
    width:400px;
    height:80px;
    margin:0;
    margin-left:250px;
    line-height:70px;
    float:left;
    font-size:20px;
    color:white;
    overflow:hidden;
}
#header-title a{
    color:white;
    text-decoration:none;
}



#top-nav {
    width:400px;
    height:80px;
    margin-right:150px;
    line-height:40px;
    float:right;
}

#top-nav ul {
    overflow:hidden;
}

#top-nav ul li {
    float:left;
    list-style:none;
}

#top-nav ul li a {
    padding:0 15px;
    color:white;
    text-decoration:none;
}

#top-nav ul li a:hover {
    text-decoration:underline;
}

#header-dummy {
    height: 70px;
}

/* メインコンテンツ */
section.main {
    min-height:600px;
}

section.main-login{
    /* margin-bottom:20px; */
}

h1.title {
    text-align:center;
    margin-top:50px;
}

/* ==================== */
/* form */
/* ==================== */
.form {
    margin-top:40px;
    margin-bottom:20px;
}

form{
    width:400px;
    padding:30px;
    border:5px solid #f1f1f1;
    margin-left:auto;
    margin-right:auto;
    
    /* overflow:hidden; */
}

form > label > p {
    margin:0 0;
}

/* .form-email {
    margin-top:40px;
} */

input[type="text"],
input[type="password"]{
    display:block;
    background:#f6f5f5;
    border:none;
    width:380px;
    height:60px;
    margin-bottom: 15px;
    font-size:20px;
    padding:10px 10px;
    box-sizing:border-box;
}

.form .area-msg{
    padding:0 0 15px 0;
    color:red;
}

input[type="submit"]{
    display:block;
    padding:15px 30px;
    width:100%;
    border:none;
    font-size:20px;
    color:white;
    background:#333;
}

.form textarea {
    background:#f6f5f5;
    border:none;
    font-size:20px;
    padding:10px 10px;

}

.form .comment-su{
    /* text-align:right; */
    margin-bottom:20px;
}

.form .name-su {
    /* margin-left: 175px; */
    margin-bottom:3px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.form .btn {
    font-size:14px;
    float:right;
}

.form .btn-mid{
    max-width:150px;
}

/* ==================== */
/* リンク */
/* ==================== */

a{
    text-decoration:none;
    color:#333;
}

a:hover{
    text-decoration:underline;
    color:#b6a489;
}


/* ==================== */
/* ボタン */
/* ==================== */
.btn-contner {
    overflow:hidden;
}


/* トップ画面*/
h1#index-title {
    font-size:48px;
    text-align:center;
    position:relative;
    top:170px;
}

h2#index-subtitle {
    font-size:36px;
    text-align:center;
    position:relative;
    top:200px;
}

/* ログイン画面 */

/* お問い合わせ画面 */

.contact-form1{
    width:600px;
}

.contact-form2 > p,
.contact-from2 > .area-msg,
.contact-form2 > input{
    width:580px;
}

.contact-form2 > .contact-name{
    width:200px;
}

/* 認証キー画面 */
.reset-form {
    width:450px;
}

.reset-form > input {
    width:430px;
}


/* ============== */
/* パスワード変更画面 */
/* ============== */
.pass-remind{
    margin-top:5px;
    margin-bottom:10px;
}



/* フッター */
footer{
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    /* height:40px; */
    text-align:center;
    line-height:150%;
    background:#333;
    color:white;
    font-size:12px;
}

footer a{
    text-decoration:none;
    color:white;
}

footer a:hover {
    text-decoration:underline;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* エラー */
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝ */
label.err input ,label.err select {
    background:#f7dcd9;
}
